.home {
    width: 100%;
    height: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.error_message {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
    color: coral;
    padding: 10px;
}