.useapi {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: -webkit-flex; /* Safari */
    display: flex; 
    flex-direction: column;
    /* background-color: whitesmoke; */
}

.item_title {
    width: auto;
    margin-left: 5vw;
    height: 40px;
    display: flex; 
    flex-direction: row;
    
}

.item_desc {
    width: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 30px;
    display: flex; 
    flex-direction: row;
}

.desc_content {
    font-size: small;  
    align-self: center;
    color: grey;
}

